<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header style="background-color: black;">
        <div class="row">
            <div class="col-2">
                <a href="/global" style="color: black">
                    <h4 style="color: white; height: 50px; padding: 20px 0; padding-left: 50px;">
                        {{ company.name }}
                    </h4>
                </a>
            </div>
            <div class="col-7">
                <nav class="navbar navbar-expand-lg navbar-light" style="height: 70px;">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" style="color: white;" aria-haspopup="true" aria-expanded="false">Facturación</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" style="color: white;" aria-haspopup="true" aria-expanded="false">Contabilidad</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" style="color: white;" aria-haspopup="true" aria-expanded="false">Almacén</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/autonomo/showProducts">Productos</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" style="color: white;" aria-haspopup="true" aria-expanded="false">Partners</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/autonomo/showSuppliers">Proveedores</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-3" style="display: flex;justify-content: center; padding: 10px 0;">
                <table style="height: 20px;">
                    <tr>
                        <td style="vertical-align: bottom;">
                            <p style="color: white; text-align: right;">¡Hola {{ user.first_name}}!</p>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="height: 50px; color: white;">
                                    <img src="{% static 'users/accountIcon.png' %}" style="height: 40px;"/>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="/accounts/showProfile">Mi Cuenta</a></li>
                                  <li><a class="dropdown-item" href="/accounts/showCompany">Mi Empresa</a></li>
                                  <li><a class="dropdown-item" href="/accounts/password_change">Cambiar Contraseña</a></li>
                                  <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
</html>