<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <header style="background-color: black;">
        <div class="row">
            <div class="col-2">
                <h4 style="color: white; height: 50px; padding: 20px 0; padding-left: 50px;">
                    {% for com in company %}
                        {{ com.name }}
                    {% endfor %}
                </h4>
            </div>
            <div class="col-7">
                <nav class="navbar navbar-expand-lg navbar-light" style="height: 70px;">
                    <div class="container-fluid">
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" style="color: white;" href="#">Facturación</a>
                            <a class="nav-link" style="color: white;" aria-current="page" href="#">Contabilidad</a>
                            <a class="nav-link" style="color: white;" href="#">Almacén</a>
                            <a class="nav-link" style="color: white;" href="#">Partners</a>
                        </div>
                      </div>
                    </div>
                </nav>
            </div>
            <div class="col-3" style="display: flex;justify-content: center; padding: 10px 0;">
                <table style="height: 20px;">
                    <tr>
                        <td style="vertical-align: bottom;">
                            <p style="color: white; text-align: right;">¡Hola {{ user.first_name}}!</p>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="height: 50px; color: white;">
                                    <img src="{% static 'users/accountIcon.png' %}" style="height: 40px;"/>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="/accounts/showProfile">Mi Cuenta</a></li>
                                  <li><a class="dropdown-item" href="/accounts/showCompany">Mi Empresa</a></li>
                                  <li><a class="dropdown-item" href="/accounts/password_change">Cambiar Contraseña</a></li>
                                  <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
    <body>
        {% block content %}
        <div class="row justify-content-center text-center">
            <div class="col-auto">
                <form method="post" class="form card" style="position: relative; padding: 50px 0;">
                    {% csrf_token %}
                    <h1>Cambie su contraseña</h1>
                    <!-- <table>
                        <tr style="padding-bottom: 100px;">
                            <td>DNI:</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr style="padding-bottom: 100px;">
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table> -->
                    {{ form.as_table }}
                    <div style="padding: 20px 0;">
                        <input type="submit" value="Cambiar Contraseña">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <a href="/global/">  
                    <input type="submit" value="Cancelar"/>  
                </a>
            </div>
        </div>
        {% endblock %}
    </body>
</html>