<!DOCTYPE html>
<html>
    {% include "../autonomo/base.html" %}

    <body style="background-color: beige;">
		<div class="row justify-content-center text-center" style="padding: 20px 0;">
			<h1>
				Datos del perfil
			</h1>
		</div>
		<div class="row justify-content-center text-center">
			<div class="col-auto">
                {% csrf_token %}
                {{ formset.management_form }}
                {{ formset.errors }}
                {{ formset.non_field_errors }}
                {{ formset.non_form_errors }}
                {% if form.errors %}
                    {% for field in form %}
                        {% if not field.html_name == "username" %}
                            {% for error in field.errors %}
                                <p> {{ error }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <table>
                    <tr>
                        <td style="text-align: right;"> Nombre: </td>
                        <td> {{ autonomo.first_name }} </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"> Apellidos: </td>
                        <td> {{ autonomo.last_name }} </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"> Dni: </td>
                        <td> {{ autonomo.dni }} </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"> Fecha de nacimiento: </td>
                        <td> {{ autonomo.birthdate }} </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"> Email: </td>
                        <td> {{ autonomo.email }} </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"> Dirección: </td>
                        <td> {{ autonomo.address }} </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;"> Ciudad: </td>
                        <td> {{ autonomo.city }} </td>
                    </tr>
                </table>
                <div style="padding: 20px 0;">
                    <a href="/accounts/editProfile">  
                        <input type="submit" value="Editar"/>  
                    </a>
                </div>
			</div>
		</div>
	</body>
</html>