<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header style="background-color: black;">
        <div class="row">
            <div class="col-10">
                <a href="/">
                    <img src="{% static 'users/logo.jpg' %}" style="height: 70px;"/>
                </a>
            </div>
            <div class="col-2" style="display: flex;justify-content: center; padding: 20px 0;">
                <a href="/accounts/login" style="color: white;">Iniciar Sesión</a>
            </div>
    </header>

	<body>
		<div class="row justify-content-center text-center" style="padding: 20px 0;">
			<h1>
				Formulario de Registro
			</h1>
		</div>
		<div class="row justify-content-center text-center">
			<div class="col-auto">
				<form method="post" class="form">
					{% csrf_token %}
					{{ formset.management_form }}
					{{ formset.errors }}
					{{ formset.non_field_errors }}
					{{ formset.non_form_errors }}
					<table>
						<tr>
							<td> {{ form.errors }} </td>
							<td> {{ form.non_field_errors }}</td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.first_name.label_tag }} </td>
							<td> {{ form.first_name }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.last_name.label_tag }} </td>
							<td> {{ form.last_name }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.dni.label_tag }} </td>
							<td> {{ form.dni }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.birthdate.label_tag }} </td>
							<td> {{ form.birthdate }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.email.label_tag }} </td>
							<td> {{ form.email }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.address.label_tag }} </td>
							<td> {{ form.address }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.city.label_tag }} </td>
							<td> {{ form.city }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.password1.label_tag }} </td>
							<td> {{ form.password1 }} </td>
						</tr>
						<tr>
							<td style="text-align: right;"> {{ form.password2.label_tag }} </td>
							<td> {{ form.password2 }} </td>
						</tr>
					</table>
					<div style="padding: 20px 0;">
						<input style="align-content: center;" type="submit" value="Crear Cuenta"/>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>